
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#time-date {
    position: absolute;
    transform: translateY(-35%);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#current-time {
    font-weight: bold;
    font-size: 34vw;
    color: #1DB954;
    margin: 0;
}

#current-seconds {
    margin-bottom: 65px;
    font-size: 8vw;
    color: red;
    align-self: end;
}

#current-date {
    position: absolute;
    bottom: 10px;
    font-size: 3.5vw;
    color: #ffffff;
}

#weather-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#current-weather, #forecast {
    width: 50%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    height: 400px;
    padding: 0px 20px 20px 20px;
    font-size: 2vw; /* Уменьшаем дефолтный размер для мобильных */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forecast div {
    margin-bottom: 10px;
    font-size: 1.5vw; /* Уменьшаем для мобильных и удерживаем текст читаемым */
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1578px) and (min-height: 1165px) {
    #current-time {
        font-size: 34vw; /* Устанавливаем на большой экран */
    }

    #current-seconds {
        font-size: 8vw;
    }

    #current-date {
        font-size: 3.5vw;
    }

    #weather-container {
        height: 400px;
    }

    #current-weather, #forecast {
        font-size: 5vw;
    }
}

@media (max-width: 480px) {
    #current-time {
        font-size: 12vw;
    }

    #current-date {
        font-size: 3vw;
    }

    #forecast div {
        font-size: 3vw;
    }
}
